#root .category-cont{
    .col-3{
        padding:0px !important;
        margin:0px !important;
    }
}

#root .cate-section .cate-section-item{
    position: relative;
    overflow: hidden;
    padding:0px;
}

#root .cate-section .cate-section-item img{
    display:block ;
    width:100% ;
    height:50vh;
    transition:0.2s;
    position: relative;
}

#root .cate-section .cate-section-item:hover img{
    transform: scale(1.1); 
    filter: brightness(0.8);
}

#root .cate-section .cate-section-item-content{
    position: absolute;
    bottom:40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-size:2.5vw;
}

#root .cate-section .cate-section-title{
    text-align: center;
    font-size:2.2vw;
    color:white;
    padding: 1vw 2vw 1vw 2vw;
    background: linear-gradient(40deg, #99abbb, #89dabc);
}