/* CAROUSEL */
.productDetail {
    margin-top: 2vw !important;

    .right {
        padding-right: 2vw !important;
        padding-left: 0 !important;
    }

    .left {
        padding: 0 !important;
    }

    .trendy-item-tag{
        font-size:1.4vw !important;
        padding: 0.3vw 0.5vw 0.3vw 0.5vw !important;
    }
}

#root .productDetail .carousel-inner {
}
/* div containing image, this decide size of image */
#root .productDetail .carousel-item {
    height: 80vh;
    /* width:490px; */
    padding: 1vw;
}

#root .carousel-item img {
    height: 100%;
    width: 100%;
}

#root .productDetail .carousel-indicators {
    position: relative;
    top: 2vw;

    li {
        width: 16vw !important;
        height: 12vw !important;

        img {
            width: 100%;
            height: 100%;
        }
    }
}
#root .productDetail .carousel-inner {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16), 0 6px 22px 0 rgba(0, 0, 0, 0.12);
}

#root .productDetail #carousel-thumb {
    position: relative;
    width: 70%;
    margin: auto;
    margin-bottom: 13vw;
}

/* product-information */

#root .product-information {
    padding: 1vw 2vw 2vw 1vw;
}

#root .product-information .product-description {
    font-size: 2vw;
    font-weight: 500;
}

#root .product-information .product-name {
    font-size: 2.6vw;
    font-weight: 800;
}

/* select-detail-box */
#root .productDetail .select-detail-cont {
    margin-bottom: 4vw;
    padding: 1.2vw;
    box-shadow: 0 0 2px 2px rgba(20, 23, 28, 0.1), 0 6px 6px 0 rgba(20, 23, 28, 0.1);
    border-radius: 0.5vw;
}

#root .productDetail .select-detail-box-title {
    font-size: 2.7vw;
    font-weight: 700;
    color: grey;
    border-bottom: 0.2vw solid rgb(219, 203, 203);
    padding-bottom: 1vw;
    margin-bottom: 3vw;
}

#root .productDetail .add-to-cart {
    position: relative;
    bottom: 0px;
}

/* total-price */
#root .productDetail .total-price {
    font-size: 2.2vw;
    font-weight: 700;
    margin: 1vw 0px 1vw 0px;
}

.select-detail-cont {
    margin-top: 2vw;
}

.select-detail-box {
    font-size: 1.4vw;
    .first {
        padding: 0 !important;
        width: 40%;

        select {
            font-size: 1.5vw;
            width: 14vw;
            height: 3vw !important;
            margin: 1vw;
        }
    }
    .second {
        padding: 0 !important;
        width: 36%;

        input {
            width: 30%;
        }
    }

    .third {
        width: 24%;
        padding: 0 !important;
    }

    button {
        font-size: 1.5vw;
        border: 0px;
        padding: 0.15vw 0.7vw 0.15vw 0.7vw !important;
        margin-left: 0.4vw;
        margin-right: 0.4vw;
        cursor: pointer;
    }

    .form-control {
        padding: 0 !important;
        margin: 0 !important;
    }

    input {
        font-size: 1.4vw;
        width: 3.5vw;
    }
}

.add-to-cart {
    button {
        border: 0.2vw solid !important ;
        padding: 0.15vw 0.7vw 0.15vw 0.7vw !important;
        margin-right: 0.5vw;
        margin-left: 0.5vw;
        font-size: 1.5vw;
        cursor: pointer;
    }
}

.show-rating-cont {
    font-size: 1.2vw !important;
    margin-left:0.15vw;
}

.total-sold {
    font-size: 1.2vw !important;
    margin-left:0.15vw;

}
