#root .product-create-form .details-box .delete-button{
    margin-top:30px;
}

#root .product-create-form .add-button{
    padding: 3px 10px 3px 10px;

}

#root .admin-product-create-content{
    background: linear-gradient(40deg, #ffffff, #f2f5f4);
}