#root .cart-show-item{
    border-radius: 30px;
    padding:10px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.16), 0 3px 11px 0 rgba(0,0,0,.12);

}
#root .cart-show-item:hover{
    box-shadow: 3px 3px 6px 3px rgba(0,0,0,.16), 3px 3px 11px 0 rgba(0,0,0,.12);
}

#root .delete-item{
    position: absolute;
    top:5px;
    right:10px;
    font-weight: 700;
    color:grey;
    font-size:20px;
    padding: 2px 4px 2px 4px;
    margin:0;
    box-shadow: 0px 0px 0px 0px;
}