#root .cate-section .cate-section-item{
    position: relative;
    overflow: hidden;
    padding:0px;
}

#root .cate-section .cate-section-item img{
    display:block ;
    width:100% ;
    height:300px;
    transition:0.2s;
    position: relative;
}

#root .cate-section .cate-section-item:hover img{
    transform: scale(1.1); 
    filter: brightness(0.8);
}

#root .cate-section .cate-section-item-content{
    position: absolute;
    bottom:40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-size:26px;
}

#root .cate-section .cate-section-title{
    text-align: center;
    font-size:20px;
    color:white;
    padding: 13px 40px 13px 40px;
    background: linear-gradient(40deg, #99abbb, #89dabc);
}