#root .show-history-container{
    margin: 3px 0 3px 0;
}

#root .show-history-container a{
    color: black;
}
#root .show-history-container a:hover{
    color: black;
}

#root .show-history-header{
    padding:6px;
    border: 3px solid rgb(224, 211, 211);
    border-radius: 20px;
    cursor: pointer;
}

#root .show-history-header:hover{
    border: 3px solid rgb(235, 149, 149);
}

#root .show-history-header div{
    margin: 0 8px 0 8px;
}

#root .show-history-content-box{
    margin:0 13px 0 13px;
    position: relative;
    top:-1px;
    border-left: 2px  solid rgb(226, 212, 212);
    border-right: 2px  solid rgb(226, 212, 212);
    border-bottom: 2px  solid rgb(226, 212, 212);
    padding:10px;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#root .show-history-content-box-active{
    display: block
}

/* #root .cart-show-item .col-2 div{
    height:100px !important;
    width:100px !important;
} */

#root .history-show-product{
    padding:17px 2px 17px 2px;
    margin: 10px 0 10px 0;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
}

#root .history-show-product .col-2 img{
    height:100px !important;
}
