/* NAVBAR */
#root .navbar{
  z-index: 1000;
}
#root ul{
    list-style: none;
    padding:0px;
    margin:0px;
  }
  
  #root{
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
  }
  
  #root .navbar a{
    text-decoration: none;
    color : #505763;
    font-size:17px;
  }
  
  #root .navbar .drop-down{
    color:rgb(16, 16, 17);
    background-color:white;
    text-align: left;
    font-size:20px;
    position: absolute;
    top:56px;
    width:200px;
    box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);  
  }



  #root .navbar .drop-down::before{
    border-color: transparent transparent #e8e9eb transparent;
    top: -14px;
    border-style: solid;
    border-width: 0 10px 13px;
    content: ''!important;
    height: 0;
    position: absolute;
    left: 14px;
    width: 0;
    box-sizing: border-box;
  }

  #root .navbar .drop-down::after{
    border-color: transparent transparent #fff transparent;
    top: -12px;
    border-style: solid;
    border-width: 0 10px 13px;
    content: ''!important;
    height: 0;
    position: absolute;
    left: 14px;
    width: 0;
    box-sizing: border-box;
  }

  #root .navbar .drop-down-item{
    padding:10px 20px 10px 20px;
  }
  
  #root .navbar #inputSMEx{
    width:85%;
  }
  
  #root .navbar .btn{
    color:white;
  }
  
  /* NAVBAR: submenu ul */
  
  /* NAVBAR: SUBMENU UL */
  #root .navbar .drop-down .submenu-ul, #root .navbar .drop-down .submenu-ul2{
    position: absolute;
    top:0;
    left:200px;
    width:200px;
    padding:0;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19); 
  }
  
  /* hover */
  #root .navbar .drop-down .submenu-ul, 
  #root .navbar .drop-down .submenu-ul2, 
  #root .drop-down-btn .drop-down {
    display:none;
  }
  
  #root .drop-down-btn:hover .drop-down{
    display: block;
  }
  
  #root .navbar .drop-down li:hover .submenu-ul{
      display:block;
  }
  
  #root .navbar .drop-down .submenu-ul li:hover .submenu-ul2{
    display:block;
  }

  /* TOP BANNER */
  #root .top-banner{
    color:white;
    background-color:#007791;
    font-size:17px;
    padding: 10px 0 10px 0;
  }

  /* USER DASHBOARD */
  #root .user-option-box{
    position:relative;
    padding:10px 0 10px 0;
    height:100%;
  }

  #root .user-dropdown{
    position: absolute;
    width:200%;
    top:100%;
    right:0%;
    /* border: 0.3px solid black; */
    background-color:rgb(255, 255, 255);
    box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19); 
    display: none;
  }

  #root .user-option-box:hover .user-dropdown{
    display:block;
  }

  #root .user-dropdown-item{
    font-size:13px;
    text-align: left;
    padding:10px 15px 10px 15px;
    color:#24292e;
  }

  #root .user-dropdown-item:hover{
    background-color:rgb(241, 234, 234)
  }

  #root .user-dropdown::before{
    border-color: transparent transparent #e8e9eb transparent;
    top: -12px;
    border-style: solid;
    border-width: 0 10px 13px;
    content: ''!important;
    height: 0;
    position: absolute;
    right: 14px;
    width: 0;
    box-sizing: border-box;
  }

  #root .user-dropdown::after{
    border-color: transparent transparent #fff transparent;
    top: -12px;
    border-style: solid;
    border-width: 0 10px 13px;
    content: ''!important;
    height: 0;
    position: absolute;
    right: 14px;
    width: 0;
    box-sizing: border-box;
  }

  /* Cart Item Number display */

  #root .cart-item-number{
    position: absolute;
    top:-60%;
    right:-20%;
    display:inline-block;
    /* background-color: rgb(218, 133, 235); */
    border-radius: 80px;
    padding: 0px 7px 0px 7px;
    color:white;
    background: linear-gradient(40deg, #2096ff, #3b4642);

  }

  /* Navbar cart item */
  #root .nav-cart-item-box{
    position: absolute;
    top:130%;
    left:0;
    display:none;
    width:300px;
    /* padding: 10px; */
    box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);  
    background-color: white;
  }

  #root .nav-cart-item-box::before{
    border-color: transparent transparent #e8e9eb transparent;
    top: -14px;
    border-style: solid;
    border-width: 0 10px 13px;
    content: ''!important;
    height: 0;
    position: absolute;
    left: 14px;
    width: 0;
    box-sizing: border-box;
  }

  #root .nav-cart-item-box::after{
    border-color: transparent transparent #fff transparent;
    top: -12px;
    border-style: solid;
    border-width: 0 10px 13px;
    content: ''!important;
    height: 0;
    position: absolute;
    left: 14px;
    width: 0;
    box-sizing: border-box;
  }

  #root .cart-icon-box:hover .nav-cart-item-box{
    display:block;
  }

  #root .nav-cart-item{
    padding:10px;
    
  }

  #root .nav-cart-item:hover {
    background-color:rgb(235, 219, 219);
  }

  #root .nav-cart-item img{
    width:60px !important;
    height:60px;
    margin-right:5px;
  }

  #root .nav-cart-item .description{
    color: rgb(230, 207, 207);
    font-weight: 500
  }

  #root .nav-cart-item .product-name{
    color: rgb(182, 155, 155);
    font-weight: 600
  }