/* CAROUSEL */
#root .productDetail .carousel-inner{
}
/* div containing image, this decide size of image */
#root .productDetail .carousel-item{
    height:500px;
    /* width:490px; */
    padding:5px
}

#root .carousel-item img{
    height:100%;
    width: 100%;
}

#root .productDetail .carousel-indicators{
    position: relative;
    top:10px;
}
#root .productDetail .carousel-inner{
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.16),
    0 6px 22px 0 rgba(0,0,0,.12);
}

#root .productDetail .carousel-indicators li{
    width:70px;
    height:70px;
}

#root .productDetail #carousel-thumb{
    position: relative;;
    width:70%;
    margin:auto;
    margin-bottom:140px;

}



/* product-information */

#root .product-information{
    padding: 10px 20px 20px 10px;
}

#root .product-information .product-description{
    font-size:17px;
    font-weight: 500;
}

#root .product-information .product-name{
    font-size:30px;
    font-weight: 800;
}

/* select-detail-box */
#root .productDetail .select-detail-box{
    margin-bottom:40px;
    padding: 20px;
    box-shadow: 0 0 2px 2px rgba(20,23,28,.1), 0 6px 6px 0 rgba(20,23,28,.1);
    border-radius: 10px;
}

#root .productDetail .select-detail-box-title{
    font-size:25px;
    font-weight: 700;
    color:grey;
    border-bottom: 1px solid rgb(219, 203, 203);
    padding-bottom:15px;
    margin-bottom:20px;
}

#root .productDetail .add-to-cart{
    position: relative;
    bottom:0px;
}

/* total-price */
#root .productDetail .total-price{
    font-size:25px;
    font-weight: 700;
    margin: 20px 0px 20px 0px;
}


